#icon{
    font-size: 20px;
    color: rgb(52, 216, 228);
}
#icon1{
    font-size: 15px;
    color: rgb(52, 216, 228);
}
table{
    border-radius: 10px;
}
.lists{
    margin-right: 150px;
    margin-left: 150px;
}
#form1{
    margin-top: 10px;
}
#ul1 li{
    margin-left: 100px;
}
#input1{
    margin-left: 250px;
}
#input1 input{
    width: 290px;
}