#icon{
    font-size: 20px;
    color: rgb(52, 216, 228);
}
#icon1{
    font-size: 20px;
    color: rgb(52, 216, 228);
}
table{
    /* text-align: center; */
    border-radius: 10px;
}
.lists{
    margin-right: 150px;
    margin-left: 150px;
}